<!DOCTYPE = html>

<html>  
        <head>
            <meta charset="utf-8">
            <title>校园通知系统</title>
        </head>
        <body>
           
  <ul>
            {% if user.is_authenticated %}

              <li>用户: {{ user.get_username }}</li>

              <li><a href="{% url 'logout'%}?next={{request.path}}">登出</a></li>

            {% else %}

               <li><a href="{% url 'login'%}?next={{request.path}}">登入</a></li>

            {% endif %}
            <li><a href="{% url 'user_create'%}">创建账户</a></li>
      <li><a href="{% url 'catalog:create'%}">创建群组</a></li>
      

    

  </ul>
            {% block content %}{% endblock%}

            
        </body>
</html>